<!DOCTYPE html>
<html>
<head>
    <title>Exam Result Management System</title>
</head>
<body>

<h1>Exam Result Management System</h1>

<form action="/result">

    Register Number:
    <input type="text" name="regno"><br><br>

    Student Name:
    <input type="text" name="name"><br><br>

    Python Mark:
    <input type="number" name="m1"><br><br>

    AI Mark:
    <input type="number" name="m2"><br><br>

    Machine Learning Mark:
    <input type="number" name="m3"><br><br>

    <input type="submit" value="Generate Result">

</form>

</body>
</html>
